@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Roboto:wght@300;500&display=swap');

@font-face {
    font-family: RootBeer;
    src: url("/fonts/Root\ Beer.otf"), local("Root Beer");
    font-weight: bold;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    width: 100vw;
    overflow-x: hidden;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 100%; 
    
}


/* .hero {
    width: 100%;
    height: auto;
    
        
} */

.hero img {
    width: 100vw;
    height: auto;  
        
}
        
        


.mobile {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px 0 20px;

}

.desktop-menu {
    display: none;
}

.mobile .nav-hammenu--mobile, .nav-wsp--mobile{
    width: 26px;
    height: 25px;
}
.mobile .nav-logo--mobile {
    width: 79px;
    height: 25px;
}

.big-logo {
    position: absolute;
    width: 100%;
    top: 50%;
        
}


.description {
    display: flex;
    flex-direction: column;
    margin: -2px;
    width: 100%;
    height: auto;
    font-family: RootBeer;
    background: #D0A35C;
        
}

.description h1 {
    font-size: 3.2rem;
    margin-block-start: 26px;
    margin-block-end: 14px;
    text-align: center;
}

.description h2 {
    font-size: 2.8rem;
    text-align: center;
}

.description h3 {
    font-size: 4.8rem;
    text-align: center;
    margin-block-start: 20px;

}

.description p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #161413;
    padding: 12px 20px 0;
    margin-bottom: 20px;
}

.box6 {
    display: none;
}

.callout {
    display: grid;
    align-items: center;
    background-image: url('/assets/imgs/beercup-mobile.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height:  100%;
}

/* .callout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */



.callout p {
    
    font-family: 'Beth Ellen', cursive;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 49px;
    text-align: center;
    padding: 15px 30px;
    
    color: #FFFFFF;

}

.pics {
    display: flex;
    flex-direction: column;
    width: 100%;
}



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -2px;
    background-color: #000000;

}

footer .logo {
    width: 110px;
    height: 36px;
    margin-top: 50px;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #FFFFFF;
    text-align: center;
    margin-top: 11px;
    padding: 0 48px;
}

footer .author {
    color: #4c4b4bcc;
    padding-bottom: 20px;
}

.social {
    display: flex;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    justify-content: space-between;
}


 /* ----------------------MEDIA QUERIES------------------- */

@media (width: 280px) {
    
    .big-logo {
        top: calc(50% - 134px/2);
    }

    .callout p {
        font-size: 1.6rem;
        line-height: 49px;
        
    }
}

@media (width: 320px) {
    
    .big-logo {
        top: calc(50% - 134px/2);
    }

    .callout p {
        font-size: 1.8rem;
        line-height: 49px;
        
    }
}





@media (min-width: 375px) {
    .big-logo {
        top: calc(50% - 134px/2);
    }
}



@media (min-width: 540px) {
    .big-logo {
        top: 390px;
    }

    .callout p {
        font-size: 3.3rem;
        line-height: 69px;
        top: 2150px;
    }

    .pics .img1 {
        aspect-ratio: 0.5;
    }
}

@media (min-width: 600px) {
    
    .callout p {
        font-size: 3.3rem;
        line-height: 100px;
        top: 2200px;
    }

   
}



@media (min-width: 768px) {

    .hero img {
        width: 100vw;
        height: auto;  
            
    }
   
    .big-logo {
        top: calc(50% - 134px/2);
    }

    .callout p {
        font-size: 5rem;
        line-height: 115px;
        top: 2500px;
    }

    .pics {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 384px);
        grid-template-rows: repeat(4, 329px);
        
    }

    .img1 {
        
        grid-area: 1 / 1 / 3 / 2;
        width: 384px;
        height: 658px;
        
    }

    .img2, .img3, .img4, .img5 {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        
        
    }

    .img6 {
        
        grid-area: 4 / 1 / 6 / 3;
        aspect-ratio: 16 / 9;
        width: 100%; 
        /* height: auto;   */
          
        
    }

    .mobile .nav-logo--mobile {
        width: 89px;
        height: 35px;
    }
}

@media screen and (min-width: 1024px) {

    nav .mobile {
        display: none;
    }

    .desktop-menu {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
        font-family: RootBeer;
        padding-top: 20px;
    }

    .desktop-menu--logo img {
        width: 155px;
        height: 50px;
        margin-left: 70px;
    }

    .desktop-menu ul li {
        list-style: none;
        display: inline-block;   
        margin-right: 40px;   
    }

    .desktop-menu ul {
        margin-right: 30px;
    }

    .desktop-menu ul li:nth-child(4) {
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        padding: 8px 18px;
    }

    .desktop-menu ul li span {
       display: inline-block; 
       width: 26px;
       height: 25px;
       padding-top: 6px;
    }

    .desktop-menu ul li a {
        display: flex;
        align-items: center;
               
    }
    .desktop-menu ul li a span {
        margin-left: 10px;
        background-image: url('/assets/icons/Whatsapp-Vector.svg');
    }

  
    .desktop-menu ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 2.6rem;

    }

    
    .big-logo {
        top: calc(25% - 354px/2);
        
    }

    .big-logo img{
        height: 254px;
        width: 797px;
    }

    .hero img {
        
        width: 100vw;
        height: auto;
        object-fit: fill;
    }
    .callout {
        background-image: url('/assets/imgs/beercup-desktop.png');
        background-size: fill ;
        width: 100vw;
        height: auto;
    }
    .callout p {
        font-size: 3.7rem;
        line-height: 80px;
        padding: 15px;
    }

    .pics {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        
    }

    .img1 {
        
        grid-area: 1 / 1 / 3 / 2;
        width: 100%;
        height: 100%;
        
    }

    .img2, .img3, .img4, .img5 {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
        
        
        
        
    }

    .img6 {
        
        grid-area: 2 / 3 / 3 / 5;
        aspect-ratio: 16 / 9;
        width: 100%; 
        height: auto;  
          
        
    }

    .mobile .nav-logo--mobile {
        width: 89px;
        height: 35px;
    }

   

}

@media  screen and (min-width: 1280px) {
  
    .hero {
        width: 100vw;
        height: auto;

   }

   
    .hero img {
        width: 100%;
        height: 100%;    
            
    }

    .big-logo {
        top: 50%;          

    }
   
    .description {
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
        grid-template-rows: repeat(3, auto);
        margin-top: -3px;
        grid-template-areas: 
        "box1 box1 box1"
        "box2 box6 box3"
        "box4 box7 box5";
    }

    .box1 {
        grid-area: box1;
    }

    .box1 h1 {
        font-size: 6.4rem;
    }

    .box1 h2 {
        font-size: 4.8rem;
    }

    .box2 {
        grid-area: box2;
        
    }

    .box2 h3 {
        text-align: left;
        padding-left: 194px;
        padding-top: 30px;

    }

    .box2 p {
        text-align: left;
        padding-left: 194px;
        padding-top: 30px;
    }



    .box3 {
        grid-area: box3;
    }

    .box3 h3 {
        text-align: right;
        padding-right: 194px;
        padding-top: 30px;
    }

    .box3 p {
        text-align: right;
        padding-right: 194px;
        padding-bottom: 30px;
    }

    .box4 {
        grid-area: box4;
        border-top: 2px solid #4F381D;
    }

    .box4 h3 {
        text-align: left;
        padding-left: 194px;
        padding-top: 30px;
    }

    .box4 p {
        text-align: left;
        padding-left: 194px;
        padding-bottom: 30px;
        
    }

    .box5 {
        grid-area: box5;
        border-top: 2px solid #4F381D;
    }

    .box5 h3 {
        text-align: right;
        padding-right: 194px;
        padding-top: 30px;
    }

    .box5 p {
        text-align: right;
        padding-right: 194px;
        padding-bottom: 30px;
    }

    

    .box6 {
        display: block;
        position: relative;
        border: 2px solid #4F381D;
        border-radius: 50%;
        top: calc(50% - 100px);
        width: 200px;
        height: 200px;
        grid-area: 2/2/4/3;
        
    }
    
    .box6 img {
        width: 100%;
        height: 100%;
    }

    .box7 {
        display: none;
    }

    nav .mobile {
        display: none;
    }

    .big-logo {
        left: calc(50% - 797px/2);
    }

    .big-logo img{
        height: 254px;
        width: 797px;
    }
    
   
    .pics {
       
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        
    }
    
}

